body {
    font-family: "Bitter", serif;
    font-size: 20px;
    margin: 0;
    padding: 20px 0 0;
    display: flex;
    flex-direction: row;
    background: url('images/background.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    min-height: 100vh; /* Allow body height to expand if needed */
    overflow-y: auto;  /* Enable vertical scrolling */
    justify-content: center;
    align-items: flex-start;
}

a {
    background-color: transparent;
    text-decoration: none;
}

a:link {
    color: rgb(126, 249, 255);
}

a:visited {
    color: rgb(93, 183, 187);
}

a:hover,
a:active {
    color: rgb(93, 189, 194);
    text-decoration: underline;
}

.container {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    /* Adjusted for more space for each column */
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.column {
    background: rgba(39, 39, 39, 0.742);
    backdrop-filter: blur(10px);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        /* Stacks columns vertically on smaller screens */
    }

    body {
        overflow: auto;  /* Ensure overflow is handled on mobile */
    }

    .column:nth-child(1) {
        order: 3; /* Move the first column to the last */
    }
    .column:nth-child(2) {
        order: 1; /* Keep the second column as the first */
    }
    .column:nth-child(3) {
        order: 2; /* Move the third column to the middle */
    }

}

.links-container {
    text-align: center;
    margin-top: 30px;
}

.links-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.links-list li {
    margin: 15px 0;
}

.links-list a {
    text-decoration: none;
    font-size: 18px;
    background-color: #414141;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    white-space: nowrap;
}

.links-list a:hover {
    background-color: #007bff;
    color: #fff;
    transform: translateY(-2px);
}

.links-list a:focus {
    outline: none;
}

.monospace-text {
    text-align: center;
    font-family: "Source Code Pro", serif;
    background-color: #111;
    border-radius: 10px;
    overflow-y: auto;
    padding: 10px;
}

.online {
    color: green;
    font-weight: bold;
  }
  .offline {
    color: red;
    font-weight: bold;
  }

  .server-info {
    display: flex;
    align-items: center;
    border: 1px solid #aaa;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    background-color: #2e2e2e;
    color: white;
  }

  .server-logo {
    margin-right: 10px;
  }

  .server-logo .logo {
    width: 40px;
    height: 40px;
    border-radius: 10%;
  }

  .server-details {
    flex: 1;
  }

  .server-name {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }

  .server-status {
    margin: 5px 0;
    font-size: 14px;
  }

  .server-status .online {
    color: green;
  }

  .server-status .offline {
    color: red;
  }

  .player-count {
    margin: 0;
    font-size: 14px;
  }

  .photo-album {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 300px;
    overflow: hidden;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.photo-album img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.photo-album img.active {
    opacity: 1;
}
